<%- model_class = Source -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @source.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @source.username %></dd>
</dl>

<div id="chart-container" style="width:100%; height:400px;"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sources_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_source_path(@source), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              source_path(@source),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
