<%- model_class = Observation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:metric) %></th>
      <th><%= model_class.human_attribute_name(:last_checked) %></th>
      <th><%= model_class.human_attribute_name(:divergence) %></th>
    </tr>
  </thead>
  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.metric.source.name %></td>
        <td><%= observation.metric.name %></td>
        <td><%= observation.time %></td>
        <td><%= DataAnalysis.get_divergence(observation.to_hash) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
