<%- model_class = Observation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:metric) %>:</strong></dt>
  <dd><%= @observation.metric.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:divergence) %>:</strong></dt>
  <dd><%= (@observation.divergence > 0 ? '+' : '') + @observation.divergence.round(2).to_s %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endurance) %>:</strong></dt>
  <dd><%= endurance(@observation.start, @observation.end) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start) %>:</strong></dt>
  <dd><%= @observation.start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end) %>:</strong></dt>
  <dd><%= @observation.end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observed_at) %>:</strong></dt>
  <dd><%= @observation.updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:percentile_5) %>:</strong></dt>
  <dd><%= @observation.low %></dd>
  <dt><strong><%= model_class.human_attribute_name(:median) %>:</strong></dt>
  <dd><%= @observation.median %></dd>
  <dt><strong><%= model_class.human_attribute_name(:percentile_95) %>:</strong></dt>
  <dd><%= @observation.high %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observed_value) %>:</strong></dt>
  <dd><%= @observation.value %></dd>
</dl>

<div id="chart-container" style="width:100%; height:400px;"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              observations_path, :class => 'btn'  %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#chart-container').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Data'
        },
        xAxis: {
          categories: <%= JSON.parse(@observation.data).map{|element| element['x']}.to_s.html_safe %>
        },
        yAxis: {
          min: 0,
          title: {
              text: ''
          }
        },
        series: [{
          name: "<%= @observation.metric.name %>",
          data: <%= JSON.dump(JSON.parse(@observation.data).each_with_index.map{|element, index| {'y' => element['y'], 'color' => (index == 29 ? (@observation.divergence > 0 ? '#00FF00' : '#FF0000') : '#2F7ED8')}}).html_safe %>
        }]
      });
    });
  </script>
<% end %>
