<form method="get">
  <input name="filter" type="text" value="<%= @filter %>" />
  <input type="submit" value="Filter" class="btn" />
  <input name="group" type="text" value="<%= @group %>" />
  <input type="submit" value="Group" class="btn" />
</form>

<table class="map-group">
<% @metric_infos.keys.each do |group| %>
  <% group_infos = @metric_infos[group] %>
  <% columns, rows, table_size, cell_size = table_measures(group_infos) %>

  <tr><td><%= group %></td></tr>
  <tr>
    <td>

      <table class="map" style="width:<%= table_size %>px;height:<%= cell_size %>px">
      <% rows.times do %>
        <tr>
        <% columns.times do %>
          <% metric, state = group_infos.shift %>
          <td style="width:<%= cell_size %>px;
                     height:<%= cell_size %>px;
                     background-color:<%= cell_color(metric, state) %>"
            <% if metric %>
              title="<%= metric.name %>
      <%= state ? state.start : '' %>
      <%= state ? state.period : '' %>
      <%= format_divergence(metric, state) %>"
            <% end %> >
          </td>
        <% end %>
        </tr>
      <% end %>
      </table>

    </td>
  </tr>
<% end %>
</table>
