<%- model_class = Alert -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:metric) %></th>
      <th><%= model_class.human_attribute_name(:threshold) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:recipients) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.metric.name %></td>
        <td><%= alert.threshold %></td>
        <td><%= alert.subject %></td>
        <td><%= alert.recipients %></td>
        <td>
          <div class="btn-group">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_alert_path(alert), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        alert_path(alert),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_alert_path,
            :class => 'btn btn-primary' %>
